<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>FacultyController</servlet-name>
        <servlet-class>com.muet.controller.FacultyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentController</servlet-name>
        <servlet-class>com.muet.controller.DepartmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeesController</servlet-name>
        <servlet-class>com.muet.controller.FeesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BatchController</servlet-name>
        <servlet-class>com.muet.controller.BatchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeesDetailsController</servlet-name>
        <servlet-class>com.muet.controller.FeesDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.muet.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.muet.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThesisController</servlet-name>
        <servlet-class>com.muet.controller.ThesisController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThesisDetailsController</servlet-name>
        <servlet-class>com.muet.controller.ThesisDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeminarGroupController</servlet-name>
        <servlet-class>com.muet.controller.SeminarGroupController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FacultyController</servlet-name>
        <url-pattern>/FacultyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentController</servlet-name>
        <url-pattern>/DepartmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeesController</servlet-name>
        <url-pattern>/FeesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BatchController</servlet-name>
        <url-pattern>/BatchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeesDetailsController</servlet-name>
        <url-pattern>/FeesDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThesisController</servlet-name>
        <url-pattern>/ThesisController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThesisDetailsController</servlet-name>
        <url-pattern>/ThesisDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeminarGroupController</servlet-name>
        <url-pattern>/SeminarGroupController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
</web-app>
